body {
    background-color: chocolate;
}
#fox {
    position: relative;
    height: 228px;
    width: 228px;
    background-image: url(unnamed.png);
    border-radius: 100%;
    background-position-x: -22px;
    background-position-y: -8px;
    left: 50px;
    top: 50px;
}